**/__pycache__

credentials/**/*

academies-csv-to-json/*.csv
academies-csv-to-json/*.json
academies-json-to-firestore/*.json
cities-firestore-to-json/*.json
cities-csv-to-json/*.csv
cities-csv-to-json/*.json
search-academies/*.csv

# macOS
.DS_Store
